<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>four boys club/about</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
 <style>
  
  *{
      font-family: 'Dancing Script', cursive;
      margin: 0%;
      padding: 0%;
  }
  
  .navbar ul{
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      background-color: black;
      color: white;
  }
  
  
  
  .navbar li{
      list-style: none;
      padding: 10px 20px;
      font-size: 1rem;
      
  }
  
  .navbar li a{
      text-decoration: none;
      color: white;
  }
  
  .navbar li a:hover{
      font-size: 1.5rem;
      color: #661cb6;
  }

  /* .object-cover object-center rounded{
    margin: 10px;
  } */
   -->

  </style>
<body>
    <nav class="navbar">
        <UL>
          <LI><a href="/">Home</a></LI>
          <LI><a href="/about">About</a></LI>
          <LI><a href="/workes">Our works</a></LI>
          <LI><a href="/contact">Contact us</a></LI>
          <li><a href="/blogs">blogs</a></li>
        </UL>
     </nav>

     <section class="text-gray-600 body-font">
       <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
         <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
           <img class="object-cover object-center rounded" alt="hero" src="https://source.unsplash.com/700x600/?web,developer">
         </div>
         <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
           <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Create your own web application
             <br class="hidden lg:inline-block">starts with rs-500
           </h1>
           <p class="mb-8 leading-relaxed">Starting a business online is not an expensive proposition. Assuming you have a computer and an internet connection, the only parts of the equation left are a website and a means to collect earnings. You can effectively run a small business out of your bedroom. Using your website, you can also Promote products and services to millions of people worldwide,Impress prospects and clients with your knowledge,Compete with larger businesses in your market,Collect profits from the services you provide,Communicate with customers, gauge their satisfaction, and help meet their needs.A website is one of the most affordable ways to implement customer support. Adding an FAQ page to your content will give your customers insights they didn't have before. You could also integrate a ticketing system that simplifies the support process. At the very least, have a contact form so customers can get in touch for any reason</p>
           
         </div>
       </div>
     </section>

<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">We create graphic design for you</h1>
      <p class="mb-8 leading-relaxed">Professionally designed graphics and images can help in creating a positive impression and effective communication of the message. Graphic designing helps to create a professional brand image. ... Good graphic design is useful in creating effective communication which can help enhance trust and credibility. we also help you in delivering your work at your defined place.</p>
     
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="https://source.unsplash.com/720x600/?graphics,arts">
    </div>
  </div>
</section>

</body>
</html>

<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">We also help you with  the content writing & worksheet making</h1>
      <p class="mb-8 leading-relaxed">As content creators, we often unwittingly fall into the trap of writing for ourselves, not our readers. This simple, one-page worksheet will help you reorient your writing to better meets the needs of your community. Use it to plan individual pieces of content that:

 
      <br> <ul>
        <li>Keep the customer front and center</li>
        <li>Map your offer to their specific needs</li>
        <li>Offer original ideas and thought leadership</li>
    
     </ul> <br>
    
    Easy to use, this worksheet is perfect for planning blog posts, e-newsletters, and even digital press releases!.</p>
     
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="https://source.unsplash.com/720x600/?writer,content">
    </div>
  </div>
</section>

</body>
</html>
        
      


